@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap");
* {
  font-family: 'Nunito',sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none
}

.home{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../uu.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
	
 }

.home h2{
	color:white;
	font-size:3.5em;
	
}

.home h6{
	color:white;
	font-size:25px;
	
}

.slide{
	margin-right:300px;
	padding:50px;
	padding-left:80px;

}

button{
	width: 260px;
	height: 50px;
	color:white;
	font-size: 18px;
	padding: 12px 5;
	background: #e91e63;
	border: 0;
	border-radius: 5px;
	outline: none;
	margin-top: 25px;
	cursor: pointer;
	box-shadow: inset 0 0 0 0 #cc6889;
	background: linear-gradient(90deg,#be51df,#e91e63);
	transition: ease-out 0.3s;
	overflow: hidden;
}

button:hover{
	box-shadow: inset 300px 0 0 0 #cc6889;
	cursor: pointer;
}

.search{
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%,-50%);
}

input{
	border: none;
	height: 60px;
	width: 500px;
	border-radius: 2px;
	padding: 0px 10px ;
}

input::placeholder{
	font-size: 20px;
}

.search-btn{
	color: white;
	float: right;
	width: 60px;
	height: 60px;
	border-radius: 5%;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.heading{
	font-size: 2.5em;
}

.achievements, .courses{
	padding: 4vw 6vw 0 6vw;
	text-align: center;
}

.courses{
	margin-bottom: 5rem;
}

.achieve-base, .course-base{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 1rem;
}

.top-box, .ug-box, .res-box, .course-ug-box, .course-pg-box, .course-web-box{
	text-align: start;
	margin-top: 4em;
}

.top-1{
	background-color: #571794;
	transition: 0.2s;
}

.top-1:hover{
	background-color: #e91e63;
}

.ug-1{
	background-color: #e91e63;
	transition: 0.2s;
}

.ug-1:hover{
	background-color:#9512af;
}

.res-1{
	background-color: #9512af;
	transition: 0.2s;
}

.res-1:hover{
	background-color:#571794;
}

.head-top-1, .head-ug-1, .head-res-1{
	font-size: 25px;
	color: white;
	padding: 13px 0 7px 0;
	padding-left: 15px;
}

.para-top-1, .para-ug-1, .para-res-1{
	color: white;
	font-size: 16px;
	padding-left: 15px;
	padding-bottom: 20px;
}

.para-top-1, .para-res-1{
	padding-right: 20px;
}

.sec, .sp, .res, .ug-i, .pg-i, .web{
	height: 100%;
	width: 100%;
}

.course-heading, .heading{
	color: black;
}


.top-2, .ug-2, .res-2, .course-ug-1, .course-pg-1, .course-web-1{
	height: 16.9rem;
	overflow: hidden;
	transition: 0.3s ease;
}

.top-box:hover img{
	transform:scale(1.1);
}

.ug-box:hover img{
	transform:scale(1.1);
}

.res-box:hover img{
	transform:scale(1.1);
}

.course-ug-box:hover img{
	transform:scale(1.1);
}

.course-pg-box:hover img{
	transform:scale(1.1);
}

.course-web-box:hover img{
	transform:scale(1.1);
}

.courses{
	margin-top: 4rem;
}

.course-heading{
	font-size: 40px;
}

.course-ug-2, .course-pg-2, .course-web-2{
	transition: 0.2s;
}

.course-ug-box:hover{
	background-color: #571794;
}

.course-pg-box:hover{
	background-color: #9512af;
}

.course-web-box:hover{
	background-color: #571794;
}

.course-head-ug-2, .course-head-pg-2, .course-head-web-2{
	font-size: 25px;
	color: #e91e63;
	padding: 13px 0 7px 0;
	padding-left: 15px;
}

.course-para-ug-2, .course-para-pg-2, .course-para-web-2{
	color: black;
	font-size: 16px;
	padding-left: 16px;
	padding-bottom: 20px;
}

.course-para-web-2{
	padding-right: 3px;
}


.course-ug-box:hover h5{
	color: white;
}

.course-pg-box:hover h5{
	color: white;
}

.course-web-box:hover h5{
	color: white;
}

.course-ug-box:hover p{
	color: white;
}

.course-pg-box:hover p{
	color: white;
}

.course-web-box:hover p{
	color: white;
}


