@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap");
* {
  font-family: 'Nunito',sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none
}


.showcase{
    width: 100%;
    background-color:#e91e63;
    z-index: 2;
    height: 44rem;
}

video{
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
    height: 44rem;
    margin-bottom: 100px;
}

.text{
    position: absolute;
    left: 16.5rem;
    text-align: center;
    top: 14rem;
    z-index: 10;
    color: white;
}

.h-1{
    font-size: 45px;
}

.h-2{
    font-size: 80px;
    font-weight: bold;
}

.h-3{
    font-size: 45px;
}

.ug-i, .pg-i{
	width: 100%;
}

.courses{
    width: 100%;
}

.course-head{
    background-color: #571794;
    height: 7rem;
}

.course-heading{
	font-size: 45px;
    color: white;
    padding-top: 1.5rem;
    padding-left: 6rem;
}

.course-base{
	display: grid;
	grid-template-columns: 550px 550px;
	grid-gap: 2rem;
    padding: 4vw 6vw 0 6vw;
	text-align: center;
}

.course-ug-box, .course-pg-box{
	text-align: start;
	margin-top: 2em;
}

.course-ug-1, .course-pg-1{
	height: 18rem;
	overflow: hidden;
	transition: 0.3s ease;
}

.course-ug-box:hover img{
	transform:scale(1.1);
}

.course-pg-box:hover img{
	transform:scale(1.1);
}

.course-ug-2, .course-pg-2{
	transition: 0.2s;
}

.course-ug-box:hover{
	background-color: #571794;
}

.course-pg-box:hover{
	background-color: #9512af;
}

.course-head-ug-2{
	font-size: 25px;
	color: white;
	padding: 13px 0 7px 0;
	padding-left: 15px;
    background-color: #571794;
}

.course-head-pg-2{
	font-size: 25px;
	color: white;
	padding: 13px 0 7px 0;
	padding-left: 15px;
    background-color: #9512af;
}

.course-para-ug-2{
	color: white;
	font-size: 16px;
	padding-left: 16px;
	padding-bottom: 20px;
    background-color: #571794;
}

.course-para-pg-2{
	color: white;
	font-size: 16px;
	padding-left: 16px;
	padding-bottom: 20px;
    background-color: #9512af;
}

.course-ug-box:hover h5{
	color: #571794;
    background-color: white;
}

.course-pg-box:hover h5{
	color: #9512af;
    background-color: white;
}

.course-ug-box:hover p{
	color: #571794;
    background-color: white;
}

.course-pg-box:hover p{
	color: #9512af;
    background-color: white;
}

.web{
	width: 100%;
    margin-top: 7rem;
}

.web-head{
    background-color: #571794;
    height: 7rem;
}

.web-heading{
	font-size: 45px;
    color: white;
    padding-top: 1.5rem;
    padding-left: 6rem;
}

.web-base{
	display: grid;
    grid-template-columns: 550px 550px;
	grid-gap: 1rem;
    padding: 4vw 6vw 0 7vw;
	text-align: center;
}

.top-box, .ug-box{
	text-align: start;
	margin-top: 2em;
}

.top-1{
	background-color: #571794;
	transition: 0.2s;
}

.top-1:hover{
	background-color: #e91e63;
}

.ug-1{
	background-color: #e91e63;
	transition: 0.2s;
}

.ug-1:hover{
	background-color:#9512af;
}

.res-1{
	background-color: #9512af;
	transition: 0.2s;
}

.res-1:hover{
	background-color:#571794;
}

.head-top-1, .head-ug-1, .head-res-1{
	font-size: 25px;
	color: white;
	padding: 13px 0 7px 0;
	padding-left: 15px;
}

.para-top-1, .para-ug-1, .para-res-1{
	color: white;
	font-size: 16px;
	padding-left: 15px;
	padding-bottom: 20px;
}

.para-top-1, .para-ug-1{
	padding-right: 20px;
}

.sec, .sp, .res, .ug-i, .pg-i, .web{
	height: 100%;
	width: 100%;
}


.top-2, .ug-2, .res-2{
	height: 16.9rem;
	overflow: hidden;
	transition: 0.3s ease;
}

.top-box:hover img{
	transform:scale(1.1);
}

.ug-box:hover img{
	transform:scale(1.1);
}

.res-box:hover img{
	transform:scale(1.1);
}





