@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap");
*{
padding:0;
margin:0;
font-family:nunito;
}
body {
background:#fff;
background-size:cover;
}
input[type=submit]{
background-color:#571794;
border:none;
color:#fff;
padding:20px 40px;
text-decoration:none;
margin:4px 2px;
font-size:19px;
cursor:pointer;
}
input[type=submit]:hover{
background-color:black;
}
.background-color{
height:70px;
}
p{
color:gray;
}
.undergraduation{
width:100%;
}
.undergraduation-head{
background-color:#571794;
height:7rem;
}
.undergraduation-heading{
font-size:45px;
color:white;
padding-top:1.5rem;
padding-left:6rem;
}